---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<GOOGLE_API_KEY>&part=snippet&q=laos&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "IQSzbR_Zqe7F9I3VkCNMC3XNTj8",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 26,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "g_AANaDO0PP_y9-nAEiKyK7DquE",
              "id": {
                "kind": "youtube#video",
                "videoId": "uw8hjVqxMXw"
              },
              "snippet": {
                "publishedAt": "2021-08-29T10:13:10Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Laos",
                "description": "Audio Requiring Attribution: LukeIRL: https://freesound.org/people/LukeIRL/sounds/176134/ RTB45: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-08-29T10:13:10Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "h4pHyg_vEMULibkOlCKIxId3udI",
              "id": {
                "kind": "youtube#video",
                "videoId": "s31ymVzOfGY"
              },
              "snippet": {
                "publishedAt": "2019-09-24T08:31:33Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "15 Things Not From the Country You Think",
   [...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&query=laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&page=39&query=laos>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&page=2&query=laos>;
        rel="next"
      X-Total:
      - '381'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"a3a9117fbeb6113055a56b360f6946e2"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"total\":381,\"total_pages\":39,\"results\":[{\"id\":\"yJ2SHIpNb9M\",\"created_at\":\"2018-10-27T03:32:26Z\",\"updated_at\":\"2023-03-07T01:05:04Z\",\"promoted_at\":null,\"width\":3888,\"height\":2184,\"color\":\"#f3d9c0\",\"blur_hash\":\"LnGSx=%KaKoJ~pxZodoL#Qaet7j[\",\"description\":\"The
        picture taken in Laos, 06:00, from hot baloon\",\"alt_description\":\"time
        lapse photography of flying hot air balloon\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?ixid=Mnw0MTkyNTd8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY3ODIzNzA3Ng\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=Mnw0MTkyNTd8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY3ODIzNzA3Ng\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=Mnw0MTkyNTd8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY3ODIzNzA3Ng\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=Mnw0MTkyNTd8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY3ODIzNzA3Ng\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=Mnw0MTkyNTd8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY3ODIzNzA3Ng\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1540611025311-01df3cef54b5\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/yJ2SHIpNb9M\",\"html\":\"https://unsplash.com/photos/yJ2SHIpNb9M\",\"download\":\"https://unsplash.com/photos/yJ2SHIpNb9M/download?ixid=Mnw0MTkyNTd8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY3ODIzNzA3Ng\",\"download_location\":\"https://api.unsplash.com/photos/yJ2SHIpNb9M/download?ixid=Mnw0MTkyNTd8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY3ODIzNzA3Ng\"},\"likes\":88,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{},\"user\":{\"id\":\"ZQPn47Cdz4Y\",\"updated_at\":\"2023-03-07T21:01:38Z\",\"username\":\"ybitran\",\"name\":\"Yosi
        Bitran\",\"first_name\":\"Yosi\",\"last_name\":\"Bitran\",\"twitter_username\":null,\"portfolio_url\":null,\"bio\":null,\"location\":null,\"links\":{\"self\":\"https://api.unsplash.com/users/ybitran\",\"html\":\"https://unsplash.com/@ybitran\",\"photos\":\"https://api.unsplash.com/users/ybitran/photos\",\"likes\":\"https://api.unsplash.com/users/ybitran/likes\",\"portfolio\":\"https://api.unsplash.com/users/ybitran/portfolio\",\"following\":\"https://api.unsplash.com/users/ybitran/following\",\"followers\":\"https://api.unsplash.com/users/ybitran/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-fb-1540610405-4740e7320e76.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-fb-1540610405-4740e7320e76.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-fb-1540610405-4740e7320e76.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":null,\"total_collections\":0,\"total_likes\":7,\"total_photos\":27,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":null,\"portfolio_url\":null,\"twitter_username\":null,\"paypal_email\":null}},\"tags\":[{\"type\":\"search\",\"title\":\"vang
        vieng\"},{\"type\":\"search\",\"title\":\"laos\"},{\"type\":\"landing_page\",\"title\":\"blue\",\"source\":{\"ancestry\":{\"type\":{\"slug\":\"wallpapers\",\"pretty_slug\":\"HD
        Wallpapers\"},\"category\":{\"slug\":\"colors\",\"pretty_slug\":\"Color\"},\"subcategory\":{\"slug\":\"blue\",\"pretty_slug\":\"Blue\"}},\"title\":\"Hd
        blue wallpapers\",\"subtitle\":\"Download free blue wallpapers\",\"description\":\"Choose
        from a curated selection of blue wallpapers for your mobile and desktop screens.
        Always free on Unsplash.\",\"meta_title\":\"Blue Wallpapers: Free HD Download
        [500+ HQ] | Unsplash\",\"meta_description\":\"Choose from hundreds of free
        blue wallpapers. Download HD wallpapers for free on Unsplash.\",\"cover_photo\":{\"id\":\"DbwYNr8RPbg\",\"created_at\":\"2018-03-30T20:31:32Z\",\"updated_at\":\"2023-03-06T11:03:32Z\",\"promoted_at\":\"2018-04-01T02:25:27Z\",\"width\":4433,\"height\":7880,\"color\":\"#0c8ca6\",\"blur_hash\":\"LrErCEM|R*WC~VNGWBWV-pWCWVj[\",\"description\":\"AQUA\",\"alt_description\":\"white
        clouds and blue skies\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?[...]
