---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Thailand","official":"Kingdom of Thailand","nativeName":{"tha":{"official":"ราชอาณาจักรไทย","common":"ประเทศไทย"}}},"tld":[".th",".ไทย"],"cca2":"TH","ccn3":"764","cca3":"THA","cioc":"THA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"THB":{"name":"Thai
        baht","symbol":"฿"}},"idd":{"root":"+6","suffixes":["6"]},"capital":["Bangkok"],"altSpellings":["TH","Prathet","Thai","Kingdom
        of Thailand","ราชอาณาจักรไทย","Ratcha Anachak Thai"],"region":"Asia","subregion":"South-Eastern
        Asia","languages":{"tha":"Thai"},"translations":{"ara":{"official":"مملكة
        تايلند","common":"تايلند"},"bre":{"official":"Rouantelezh Thailand","common":"Thailand"},"ces":{"official":"Thajské
        království","common":"Thajsko"},"cym":{"official":"Kingdom of Thailand","common":"Thailand"},"deu":{"official":"Königreich
        Thailand","common":"Thailand"},"est":{"official":"Tai Kuningriik","common":"Tai"},"fin":{"official":"Thaimaan
        kuningaskunta","common":"Thaimaa"},"fra":{"official":"Royaume de Thaïlande","common":"Thaïlande"},"hrv":{"official":"Kraljevina
        Tajland","common":"Tajland"},"hun":{"official":"Thaiföldi Királyság","common":"Thaiföld"},"ita":{"official":"Regno
        di Thailandia","common":"Tailandia"},"jpn":{"official":"タイ王国","common":"タイ"},"kor":{"official":"타이
        왕국","common":"태국"},"nld":{"official":"Koninkrijk Thailand","common":"Thailand"},"per":{"official":"پادشاهی
        تایلند","common":"تایلند"},"pol":{"official":"Królestwo Tajlandii","common":"Tajlandia"},"por":{"official":"Reino
        da Tailândia","common":"Tailândia"},"rus":{"official":"Королевство Таиланд","common":"Таиланд"},"slk":{"official":"Thajské
        kráľovstvo","common":"Thajsko"},"spa":{"official":"Reino de Tailandia","common":"Tailandia"},"srp":{"official":"Краљевина
        Тајланд","common":"Тајланд"},"swe":{"official":"Konungariket Thailand","common":"Thailand"},"tur":{"official":"Tayland
        Krallığı","common":"Tayland"},"urd":{"official":"مملکتِ تھائی لینڈ","common":"تھائی
        لینڈ"},"zho":{"official":"泰王国","common":"泰国"}},"latlng":[15.0,100.0],"landlocked":false,"borders":["MMR","KHM","LAO","MYS"],"area":513120.0,"demonyms":{"eng":{"f":"Thai","m":"Thai"},"fra":{"f":"Thaïlandaise","m":"Thaïlandais"}},"flag":"\uD83C\uDDF9\uD83C\uDDED","maps":{"googleMaps":"https://goo.gl/maps/qeU6uqsfW4nCCwzw9","openStreetMaps":"https://www.openstreetmap.org/relation/2067731"},"population":69799978,"gini":{"2019":34.9},"fifa":"THA","car":{"signs":["T"],"side":"left"},"timezones":["UTC+07:00"],"continents":["Asia"],"flags":{"png":"https://flagcdn.com/w320/th.png","svg":"https://flagcdn.com/th.svg","alt":"The
        flag of Thailand is composed of five horizontal bands of red, white, blue,
        white and red, with the central blue band twice the height of the other four
        bands."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/th.png","svg":"https://mainfacts.com/media/images/coats_of_arms/th.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[13.75,100.52]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Mon, 06 Mar 2023 17:54:48 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=e9565e4305f24b839df06e4013b6710f&categories=tourism.sights&filter=circle:100.52,13.75,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"พระบรมมหาราชวัง","country":"Thailand","country_code":"th","state":"Bangkok","city":"Bangkok","postcode":"10200","district":"Tha
        Tian","suburb":"Phra Nakhon District","quarter":"Phra Borom Maha Ratchawang
        Subdistrict","street":"Sanam Chai Road","lon":100.4918642714286,"lat":13.7493514,"formatted":"Grand
        Palace, Sanam Chai Road, Phra Nakhon District, Bangkok 10200, Thailand","address_line1":"Grand
        Palace","address_line2":"Sanam Chai Road, Phra Nakhon District, Bangkok 10200,
        Thailand","categories":["fee","tourism","tourism.attraction","tourism.sights","tourism.sights.castle","wheelchair","wheelchair.yes"],"details":["details","details.contact","details.facilities","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"fee":"yes","name":"พระบรมมหาราชวัง","email":"ticket@palaces.mail.go.th","osm_id":23482754,"barrier":"wall","name:de":"Großer
        Palast","name:en":"Grand Palace","name:es":"Gran Palacio","name:ja":"グランドパレス","name:ko":"방콕
        왕궁","name:pt":"Grande Palácio","name:ru":"Королевский дворец","name:th":"พระบรมมหาราชวัง","name:tr":"Büyük
        Saray","name:zh":"曼谷大王宫","tourism":"attraction","website":"https://www.royalgrandpalace.th/en/home","historic":"castle","osm_type":"w","wikidata":"Q873769","mapillary":"https://www.mapillary.com/map/im/_U0NFzApfUtjloIjLzDgYQ","wikipedia":"en:Grand
        Palace","wheelchair":"yes","alt_name:en":"Grand Royal Palace","castle_type":"palace","description":"https://photos.app.goo.gl/ExPw1koPgsE2wo2UA","alt_name_1:en":"The
        Grand Palace & Wat Phra Kaew","opening_hours":"Mo-Su 08:30-15:30"}},"place_id":"514962c43d791f594059cd959f26e17f2b40f00102f901825166010000000092032de0b89ee0b8a3e0b8b0e0b89ae0b8a3e0b8a1e0b8a1e0b8abe0b8b2e0b8a3e0b8b2e0b88ae0b8a7e0b8b1e0b887"},"geometry":{"type":"Point","coordinates":[100.49177498033636,13.74976463983594]}},{"type":"Feature","properties":{"name":"วัดพระศรีรัตนศาสดาราม","country":"Thailand","country_code":"th","state":"Bangkok","city":"Bangkok","postcode":"10200","district":"Tha
        Chang","suburb":"Phra Nakhon District","quarter":"Phra Borom Maha Ratchawang
        Subdistrict","street":"Sanam Chai Road","lon":100.49265919290742,"lat":13.75149735,"formatted":"Wat
        Phra Kaew, Sanam Chai Road, Phra Nakhon District, Bangkok 10200, Thailand","address_line1":"Wat
        Phra Kaew","address_line2":"Sanam Chai Road, Phra Nakhon District, Bangkok
        10200, Thailand","categories":["tourism","tourism.attraction","tourism.sights","tourism.sights.place_of_worship"],"details":["details","details.facilities","details.place_of_worship","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"url":"https://youtu.be/kIfUGaCk6kI","name":"วัดพระศรีรัตนศาสดาราม","osm_id":230010054,"amenity":"place_of_worship","name:en":"Wat
        Phra Kaew","name:es":"Templo del Buda de Esmeralda","name:he":"מקדש בודהה
        האמרלד","name:ja":"ワット・プラケオ","name:ru":"Храм Изумрудного Будды","name:th":"วัดพระศรีรัตนศาสดาราม","name:tr":"Phra
        Kaew Tapınağı","name:zh":"玉佛寺","tourism":"attraction","historic":"yes","loc_name":"วัดพระแก้ว","osm_type":"w","religion":"buddhist","wikidata":"Q1045876","wikipedia":"en:Wat
        Phra Kaew","wheelchair":"no","alt_name:de":"Tempel des Smaragd-Buddha","alt_name:en":"Temple
        of the Emerald Buddha","description":"https://photos.app.goo.gl/XqMb2kuGpEWrCZD19","opening_hours":"08:30-15:30"}},"place_id":"515e46611d881f594059c9330dbcc6802b40f00102f901c6acb50d0000000092033fe0b8a7e0b8b1e0b894e0b89ee0b8a3e0b8b0e0b8a8e0b8a3e0b8b5e0b8a3e0b8b1e0b895e0b899e0b8a8e0b8b2e0b8aae0b894e0b8b2e0b8a3e0b8b2e0b8a1"},"geometry":{"type":"Point","coordinates":[100.49268278598308,13.751516224490745]}},{"type":"Feature","properties":{"name":"บรมบรรพต","country":"Thailand","country_code":"th","state":"Bangkok","city":"Bangkok","postcode":"10100","suburb":"Pom
        Prap Sattru Phai District","quarter":"Ban Bat Subdistrict","street":"Paribatra
        Road","housenumber":"344","lon":100.50669205107302,"lat":13.7538556,"formatted":"Golden
        Mount, 344, Paribatra Road, Pom Prap Sattru Phai District, Bangkok 10100,
        Thailand","address_line1":"Golden Mount","address_line2":"344, Paribatra Road,
        Pom Prap Sattru Phai District, Bangkok 10100, Thailand","categories":["building","building.historic","building.tourism","tourism","tourism.attraction","tourism.sights","tourism.sights.memorial","tourism.sights.memorial.monument","tourism.sights.place_of_worship.temple"],"details":["details","details.contact","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"บรมบรรพต","layer":1,"phone":"+66
        2 621 2280","osm_id":243936903,"name:en":"Golden Mount","name:fr":"La Montagne
        d''Or","name:he":"הר הזהב","name:ja":"ゴールデンマウンテン","name:th":"บรมบรรพต","name:tr":"Altın
        Dağ","name:zh":"金山寺","tourism":"attraction","alt_name":"ภูเขาทอง","building":"temple","historic":"monument","osm_type":"w","wikidata":"Q13017449","addr:city":"Pom
        Prap Sattru Phai, Bangkok","mapillary":816858482268267,"wikipedia":"th:พระบรมบรรพต","addr:street":"ถนนบริพัตร","alt_name:en":"Golden
        Mountain","alt_name:es":"Montaña Dorada;Monte Dorado","alt_name:th":"ภูเขาทอง","description":"https://photos.app.goo.gl/QnwdVmJQBqHMtLSD9","addr:postcode":10100,"opening_hours":"Mo-Su
        07:30-19:00","addr:housenumber":344}},"place_id":"518c36e0ba6d20594059a4c[...]
