---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=apiKey&categories=tourism.sights&filter=circle:18.4,43.8,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Miljački
        grad","country":"Bosnia and Herzegovina","country_code":"ba","state":"Republika
        Srpska","county":"City of Istočno Sarajevo","city":"MZ Bulozi","municipality":"Istočni
        Stari Grad Municipality","postcode":"71444","district":"Bulozi","street":"Donji
        Bulozi","lon":18.4980814,"lat":43.835596,"state_code":"SRP","formatted":"Miljački
        grad, Donji Bulozi, 71444 MZ Bulozi, Bosnia and Herzegovina","address_line1":"Miljački
        grad","address_line2":"Donji Bulozi, 71444 MZ Bulozi, Bosnia and Herzegovina","categories":["tourism","tourism.sights","tourism.sights.castle"],"details":["details","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Miljački
        grad","image":"https://www.palelive.com/images/stories/razno/Stari%20grad/stari_grad.jpg","osm_id":7787331862,"name:sr":"Миљацки
        град","website":"https://www.palelive.com/stari-grad-na-sastavcima-paljanske-i-mokranjske-miljacke/","historic":"castle","osm_type":"n","wikidata":"Q12759650","wikipedia":"sr:Миљацки
        град","castle_type":"fortress"}},"place_id":"51f3be3b43827f324059f87c4bcff4ea4540f00103f901164129d00100000092030e4d696c6a61c48d6b692067726164"},"geometry":{"type":"Point","coordinates":[18.4980814,43.83559600053735]}},{"type":"Feature","properties":{"name":"Gazi
        Husrev-begov bezistan","country":"Bosnia and Herzegovina","country_code":"ba","state":"Federation
        of Bosnia and Herzegovina","county":"Sarajevo Canton","city":"City of Sarajevo","postcode":"71200","district":"Stari
        Grad Municipality","suburb":"Baščaršija","street":"Čurčiluk veliki","lon":18.428077101400042,"lat":43.858758699999996,"formatted":"Gazi
        Husrev Bey''s Bezistan, Čurčiluk veliki, 71200 City of Sarajevo, Bosnia and
        Herzegovina","address_line1":"Gazi Husrev Bey''s Bezistan","address_line2":"Čurčiluk
        veliki, 71200 City of Sarajevo, Bosnia and Herzegovina","categories":["building","building.commercial","building.historic","commercial.marketplace","tourism","tourism.sights"],"details":["details","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Gazi
        Husrev-begov bezistan","osm_id":188836329,"amenity":"marketplace","name:bs":"Gazi
        Husrev-begov bezistan","name:en":"Gazi Husrev Bey''s Bezistan","name:tr":"Gazi
        Hüsrev Bey''in Bezistan''ı","building":"yes","historic":"yes","osm_type":"w","wikidata":"Q1566076","opening_hours":"Mo-Fr
        08:00-20:00; Sa-Su 09:00-14:00"}},"place_id":"517f30d2f0956d3240591103dfdeeded4540f00102f901e969410b0000000092031a47617a69204875737265762d6265676f762062657a697374616e"},"geometry":{"type":"Point","coordinates":[18.4280691636236,43.85882173432595]}},{"type":"Feature","properties":{"name":"Aškenaška
        sinagoga","country":"Bosnia and Herzegovina","country_code":"ba","state":"Federation
        of Bosnia and Herzegovina","county":"Sarajevo Canton","city":"City of Sarajevo","post[...]
